<% if flash[:type] %>
  <script>
      swal("<%= flash[:title] %>","<%= flash[:msg] %>","<%= flash[:type] %>");
  </script>
<% end %>
<div class="col-md-12" style="margin-top: 5%;">

  <h1 class="my-4">Hi,
    <small><%= session[:user]['username'] %></small>
  </h1>
  <form method="post" action="/trades/add">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="card mb-4">
    <h5 class="card-header">Add your trade</h5>
    <div class="card-body">
        <div class="row">
        <label class="col-md-2">Company Name</label>
        <input type="text" name="company" class="col-md-3 form-control" placeholder="Company Name.. e.g. Reliance" required>
        <div class="col-md-1"></div>
        <label class="col-md-2">Stock Price</label>
        <input type="number" name="price" class="col-md-3 form-control" placeholder="Price for one share.." step="0.0001" required>
        </div><br>
        <div class="row">
        <label class="col-md-2">Number of Shares</label>
        <input type="number" name="shares" class="col-md-3 form-control" required>
        <div class="col-md-1"></div>
        <label class="col-md-2">Trade Type</label>
        <select name="trade" class="form-control col-md-3" required>
          <option value="">Choose One</option>
          <option value="true">Bought</option>
          <option value="false">Sold</option>
        </select>
        </div><br>
        <div class="row">
          <label class="col-md-2">Traded on</label>
          <input type="date" name="action_date" class="col-md-3 form-control" required>
          <div class="col-md-1"></div>
        </div><br>
        <div class="row">
          <span class="input-group-btn col-md-12 text-center">
            <button class="btn btn-secondary" type="submit">Add!</button>
          </span>
        </div>
    </div>
  </div>
  </form>
  <br>
  <br>
  <!-- Blog Post -->
  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title">My Trades</h2>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <th>S.No.</th>
            <th>Company Name</th>
            <th>Trade on</th>
            <th>Stock Price</th>
            <th>No of Shares</th>
            <th>Trade Type</th>
            <th>Total Amount</th>
          </thead>
          <tbody>
          <% if @my_trades.length>0 %>
            <% @my_trades.each_with_index do |trade,index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= trade.company_name %></td>
              <td><%= trade.action_date %></td>
              <td><%= trade.stock_price %></td>
              <td><%= trade.no_of_stocks %></td>
              <td><%= trade.has_share ? 'Bought' : 'Sold' %></td>
              <td><%= trade.no_of_stocks*trade.stock_price %></td>
            </tr>
            <% end %>
          <% else %>
          <tr><td colspan="7" class="text-center">No Trades Done Till date..</td></tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>